# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Virtual environment
# =========================
.venv/
venv/

# =========================
# Data (超重要)
# =========================
data/
*.wav
*.m4a
*.mp3

# =========================
# Output
# =========================
data/output/
*.csv

# =========================
# AWS / Secrets
# =========================
.env
.env.*
credentials
*.pem

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Logs
# =========================
*.log
papers/
Music2Emotion/